<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karta Postaci D&D 5e 2024</title>
</head>

<body>

  <!-- NAGŁÓWEK POSTACI -->
  <table border="1" width="100%">
    <tr>
      <td colspan="2"><strong>Imię:</strong> </td>
    </tr>
    <tr>
      <td><strong>Rasa:</strong> </td>
      <td><strong>Klasa:</strong> </td>
    </tr>
    <tr>
      <td><strong>Poziom:</strong> </td>
      <td><strong>Pochodzenie:</strong> </td>
    </tr>
  </table>

  <br>

  <!-- PODSTAWOWE STATYSTYKI -->
  <table border="1" width="100%">
    <tr>
      <td colspan="3" align="center"><strong>⚔️ STATYSTYKI BOJOWE</strong></td>
    </tr>
    <tr>
      <td align="center"><strong>KP</strong><br></td>
      <td align="center"><strong>Inicjatywa</strong><br></td>
      <td align="center"><strong>Szybkość</strong><br></td>
    </tr>
    <tr>
      <td colspan="3" align="center">
        <strong>Punkty Wytrzymałości:</strong> /
      </td>
    </tr>
    <tr>
      <td colspan="3" align="center">
        <strong>Tymczasowe PW:</strong>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="center">
        <strong>Kości Wytrzymałości:</strong>
      </td>
    </tr>
  </table>

  <br>

  <!-- CECHY -->
  <table border="1" width="100%">
    <tr>
      <td colspan="3" align="center"><strong>📊 CECHY</strong></td>
    </tr>
    <tr>
      <td align="center"><strong>SIŁ</strong></td>
      <td align="center"><strong>ZRC</strong></td>
      <td align="center"><strong>KON</strong></td>
    </tr>
    <tr>
      <td align="center">10 (+0)</td>
      <td align="center">10 (+0)</td>
      <td align="center">10 (+0)</td>
    </tr>
    <tr>
      <td align="center"><strong>INT</strong></td>
      <td align="center"><strong>MDR</strong></td>
      <td align="center"><strong>CHA</strong></td>
    </tr>
    <tr>
      <td align="center">10 (+0)</td>
      <td align="center">10 (+0)</td>
      <td align="center">10 (+0)</td>
    </tr>
    <tr>
      <td colspan="3" align="center">
        <strong>Premia z biegłości:</strong> +2
      </td>
    </tr>
  </table>

  <br>

  <!-- RZUTY OBRONNE -->
  <table border="1" width="100%">
    <tr>
      <td colspan="2" align="center"><strong>🛡️ RZUTY OBRONNE</strong></td>
    </tr>
    <tr>
      <td>☐ Siła</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Zręczność</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Kondycja</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Inteligencja</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Mądrość</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Charyzma</td>
      <td align="right">+0</td>
    </tr>
  </table>

  <br>

  <!-- UMIEJĘTNOŚCI -->
  <table border="1" width="100%">
    <tr>
      <td colspan="2" align="center"><strong>🎯 UMIEJĘTNOŚCI</strong></td>
    </tr>
    <tr>
      <td>☐ Akrobatyka (Zrc)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Atletyka (Sił)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Historia (Int)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Intuicja (Mdr)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Medycyna (Mdr)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Natura (Int)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Oswajanie (Mdr)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Percepcja (Mdr)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Perswazja (Cha)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Religia (Int)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Skradanie (Zrc)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Śledztwo (Int)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Sztuka (Cha)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Wiedza Tajemna (Int)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Wnikliwość (Mdr)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Zastraszanie (Cha)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Zwinne dłonie (Zrc)</td>
      <td align="right">+0</td>
    </tr>
    <tr>
      <td>☐ Zwodzenie (Cha)</td>
      <td align="right">+0</td>
    </tr>
  </table>

  <br>

  <!-- ATAKI -->
  <table border="1" width="100%">
    <tr>
      <td colspan="3" align="center"><strong>⚔️ ATAKI</strong></td>
    </tr>
    <tr>
      <td><strong>Nazwa</strong></td>
      <td align="center"><strong>Trafienie</strong></td>
      <td align="center"><strong>Obrażenia</strong></td>
    </tr>
    <tr>
      <td> </td>
      <td align="center">+0</td>
      <td align="center"> </td>
    </tr>
    <tr>
      <td> </td>
      <td align="center">+0</td>
      <td align="center"> </td>
    </tr>
    <tr>
      <td> </td>
      <td align="center">+0</td>
      <td align="center"> </td>
    </tr>
  </table>

  <br>

  <!-- MAGIA (jeśli dotyczy) -->
  <table border="1" width="100%">
    <tr>
      <td colspan="2" align="center"><strong>✨ MAGIA</strong></td>
    </tr>
    <tr>
      <td><strong>Cecha czarów:</strong></td>
      <td> </td>
    </tr>
    <tr>
      <td><strong>ST czaru:</strong></td>
      <td> </td>
    </tr>
    <tr>
      <td><strong>Atak czarem:</strong></td>
      <td>+0</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><strong>Miejsca na czary</strong></td>
    </tr>
    <tr>
      <td>1 krąg: [_] [_] [_] [_]</td>
      <td>2 krąg: [_] [_] [_]</td>
    </tr>
    <tr>
      <td>3 krąg: [_] [_] [_]</td>
      <td>4 krąg: [_] [_] [_]</td>
    </tr>
    <tr>
      <td>5 krąg: [_] [_] [_]</td>
      <td>6 krąg: [_] [_]</td>
    </tr>
    <tr>
      <td>7 krąg: [_] [_]</td>
      <td>8 krąg: [_]</td>
    </tr>
    <tr>
      <td colspan="2">9 krąg: [_]</td>
    </tr>
  </table>

  <br>

  <!-- CECHY I ZDOLNOŚCI -->
  <table border="1" width="100%">
    <tr>
      <td align="center"><strong>🌟 CECHY I ZDOLNOŚCI</strong></td>
    </tr>
    <tr>
      <td>
        • <br>
        • <br>
        • <br>
        • <br>
        • <br>
      </td>
    </tr>
  </table>

  <br>

  <!-- BIEGŁOŚCI -->
  <table border="1" width="100%">
    <tr>
      <td align="center"><strong>🔧 BIEGŁOŚCI</strong></td>
    </tr>
    <tr>
      <td><strong>Broń:</strong> </td>
    </tr>
    <tr>
      <td><strong>Pancerze:</strong> </td>
    </tr>
    <tr>
      <td><strong>Narzędzia:</strong> </td>
    </tr>
    <tr>
      <td><strong>Języki:</strong> </td>
    </tr>
  </table>

  <br>

  <!-- EKWIPUNEK -->
  <table border="1" width="100%">
    <tr>
      <td align="center"><strong>🎒 EKWIPUNEK</strong></td>
    </tr>
    <tr>
      <td>
        <strong>Monety:</strong>
        PC [ ] SR [ ] EL [ ] ZŁ [ ] PL [ ]
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </td>
    </tr>
  </table>

  <br>

  <!-- ZMĘCZENIE I STANY -->
  <table border="1" width="100%">
    <tr>
      <td colspan="2" align="center"><strong>😫 STANY</strong></td>
    </tr>
    <tr>
      <td><strong>Zmęczenie:</strong></td>
      <td>[ ] 1 [ ] 2 [ ] 3 [ ] 4 [ ] 5 [ ] 6</td>
    </tr>
    <tr>
      <td colspan="2">
        <strong>Aktywne stany:</strong><br>

      </td>
    </tr>
  </table>

  <br>

  <!-- RZUTY PRZECIW ŚMIERCI -->
  <table border="1" width="100%">
    <tr>
      <td colspan="2" align="center"><strong>💀 RZUTY PRZECIW ŚMIERCI</strong></td>
    </tr>
    <tr>
      <td>Sukcesy:</td>
      <td>[ ] [ ] [ ]</td>
    </tr>
    <tr>
      <td>Porażki:</td>
      <td>[ ] [ ] [ ]</td>
    </tr>
  </table>

</body>

</html>